/* ajax papers-related begin */
.papersNavigation
{
	height: 93px;
	width: 540px;
	background-image: url(../images/editor/ajax/papersNavigationBg.gif);
	background-repeat: repeat-x;
	background-color: transparent;
}
.papersNavigation IMG
{
	border: 0px;
}
.papersNavigation TD
{
	padding-top: 10px;
}
/* ajax papers-related end */
.square
{
	background-image:url(../images/roundedModule/squareBg.gif);
	background-repeat: repeat-x;
	border: 1px solid #d8d8d8;
	width: 141px;
	text-align: center;
	padding-bottom: 17px;
}

.title 
{
	background-image:url(../images/Features/titleSeparator.gif);
	background-repeat: repeat-x;
	background-position:bottom;
	padding-bottom: 5px;
	width: 540px;
	margin-bottom:20px;
}
.featureName 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	font-weight:bold;
	padding-left:15px;
}
.featureBody 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	background-image:url(../images/Features/featuresSeparator.jpg);
	background-repeat:no-repeat;
	width:540px;
	padding:7px 0px 20px 15px;
	margin-top:7px;
	line-height:22px;
	display:block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.featureCategory 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:white;
	background-image:url(../images/Features/featureCategory.gif);
	background-repeat:no-repeat;
	padding:1px 0px 2px 15px;
	margin-bottom:16px;
	background-color:#7F7F7F;
	display:block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.featureCategory2
{
	background: url('../images/Features/groupBg.gif') repeat-x;
	height: 33px;
	font-size:11px;
	font-weight: bold;
	margin-bottom:11px;
	margin-right:0;
	padding-right:0;
	position: relative;	
	width:100%;
}

.featureTitle 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	font-weight:bold;
	background-image:url(../images/Features/groupArrow.gif);
	background-repeat:no-repeat;
	background-position:0px 3px;
	padding-left:21px;
	margin-left:21px;
	display:block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.featureTitle A
{
	color:#333333;
}

.FAQ 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#333333;	
	background-image:url(../images/Features/FAQs.jpg);
	width:540px;
	background-position:right bottom;
	padding:5px 24px 0 10px;
	min-height:31px;
	background-repeat:no-repeat;
	cursor:posinter;
	display:block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
* html .FAQ{height:31px}

.FAQ A
{
	text-decoration:none;
}
.FAQ A:active
{
	font-weight:bold;
}
.FAQExpand
{
	padding: 6px 2px 11px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 540px;
	display:block;
	font-size: 12px;
}

.LatestVersion
{
	color:#999999;
	float:left;
	/*position:relative;
	bottom:-22px;
	margin-right:7px;*/
	font-size:11px;
	margin-left: 26px;
	margin-top: 2px;
}

.