<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="RegConnectionString" connectionString="Initial Catalog=MME reg;Data Source= DATABASE2;Integrated Security=SSPI;User ID=sa;Password=dbadmin" />
  <add name="RegistrationConnectionString1" connectionString="Data Source=DATABASE2;Initial Catalog=MME reg;Persist Security Info=True;User ID=sa;Password=dbadmin;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient" />
  <add name="RegistrationMedicalEducationConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=MME reg;User ID=sa;Password=dbadmin" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<httpRuntime executionTimeout="90" maxRequestLength="10240" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
		<pages styleSheetTheme="Green">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<!-- register all web controls in the current web App_Code folder -->
				<add namespace="AJAXControls" tagPrefix="ajax" assembly="__code" />
				<add namespace="VEControls" tagPrefix="ve" assembly="__code" />
				<!-- register all user controls in the current web -->
				<add src="~/controls/ColorPicker.ascx" tagName="ColorPicker" tagPrefix="ajax" />
				<add src="~/controls/Search.ascx" tagName="Search" tagPrefix="ajax" />
				<add src="~/controls/Lookup.ascx" tagName="Lookup" tagPrefix="ajax" />
				<add src="~/controls/TableData.ascx" tagName="TableData" tagPrefix="ajax" />
				<add src="~/controls/TableDataPager.ascx" tagName="TableDataPager" tagPrefix="ajax" />
				<add src="~/controls/UrlFrame.ascx" tagName="UrlFrame" tagPrefix="ajax" />
				<add src="~/controls/ViewSelector.ascx" tagName="ViewSelector" tagPrefix="ajax" />
				<add src="~/controls/PropOutput.ascx" tagName="PropOutput" tagPrefix="ajax" />
				<add src="~/controls/PropHSlider.ascx" tagName="PropHSlider" tagPrefix="ajax" />
				<add src="~/controls/PropBarChart.ascx" tagName="PropBarChart" tagPrefix="ajax" />
				<add src="~/controls/PropEventLog.ascx" tagName="PropEventLog" tagPrefix="ajax" />
				<add src="~/controls/PropHistory.ascx" tagName="PropHistory" tagPrefix="ajax" />
				<add src="~/controls/PropPersist.ascx" tagName="PropPersist" tagPrefix="ajax" />
				<add src="~/controls/DataInput.ascx" tagName="DataInput" tagPrefix="ajax" />
				<add src="~/controls/DataOutput.ascx" tagName="DataOutput" tagPrefix="ajax" />
				<add src="~/controls/DataFade.ascx" tagName="DataFade" tagPrefix="ajax" />
				<add src="~/controls/TreeView.ascx" tagName="TreeView" tagPrefix="ajax" />
				<add src="~/controls/AJAXPopUp.ascx" tagName="PopUp" tagPrefix="ajax" />
				<add src="~/controls/Hover.ascx" tagName="Hover" tagPrefix="ve" />
				<add src="~/controls/PopUp.ascx" tagName="PopUp" tagPrefix="ve" />
				<add src="~/controls/PopUpDialog.ascx" tagName="PopUpDialog" tagPrefix="ve" />
				<add src="~/controls/PopUpError.ascx" tagName="PopUpError" tagPrefix="ve" />
				<add src="~/controls/LightBox.ascx" tagName="LightBox" tagPrefix="ve" />
				<add src="~/controls/mhSidebar.ascx" tagName="Sidebar" tagPrefix="mh" />
				<add src="~/controls/mhTitle.ascx" tagName="Title" tagPrefix="mh" />
				<add src="~/controls/mhFooter.ascx" tagName="Footer" tagPrefix="mh" />
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Infragistics2.WebUI.UltraWebGrid.v7.2, Version=7.2.20072.61, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
				<add assembly="Infragistics2.WebUI.Shared.v7.2, Version=7.2.20072.61, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" /></assemblies>
		</compilation>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
	<appSettings>
		<add key="PROGWEBCONTORLS_COMMONFILEPATH" value="/register/Runtime/" />
	</appSettings>
</configuration>
